<section>
    <div class="container">
        <div class="col-md-12">
            <div class="row ">
                <img src="/images/tick.png" class="w-25 rounded mx-auto d-block pt-4 m-5" alt="placed-image">
            </div>

            <div class="row">
                <h1 class="placed-text text-center ">Order Placed</h1>
            </div>
            <div class="row">
                <a href="/view-orders" class="view-order-link">view orders</a>
            </div>
        </div>
    </div>
</section>